<style>
    .zhanshi .sec,.zhanshi .top{
        width: 1004px;
        margin:0 auto;
        text-align:center;
    }
    .zhanshi .top{
        margin-top: 40px;
    }
    .zhanshi .sec{
        margin-top:20px;
    }
</style>
<div class="zhanshi">
    <div class="top">
        <img src="images/1.gif" alt="">
    </div>
    <div class="sec">
        {{#each images}}
            {{name}}<br>
            拍摄时间:{{time}}<br>
            <img src="{{image1}}" alt="">
            <img src="{{image2}}" alt="">
            <img src="{{image3}}" alt="">
            <img src="{{image4}}" alt="">
            <img src="{{image5}}" alt="">

        {{/each}}
    </div>
</div>

